[Desktop Entry]
Name=Cisco Packet Tracer Help
Exec=env WINEPREFIX="/Applications/Cisco Packet Tracer.app/Contents/Resources" wine C:\\\\windows\\\\command\\\\start.exe /Unix /Applications/Cisco\\ Packet\\ Tracer.app/Contents/Resources/dosdevices/c:/ProgramData/Microsoft/Windows/Start\\ Menu/Programs/Cisco\\ Packet\\ Tracer/Cisco\\ Packet\\ Tracer\\ Help.lnk
Type=Application
StartupNotify=true
Path=/Applications/Cisco Packet Tracer.app/Contents/Resources/dosdevices/c:/Program Files/Cisco Packet Tracer 7.1.1/help/default
Icon=CB64_index.0
