[Desktop Entry]
Name=Uninstall Cisco Packet Tracer
Exec=env WINEPREFIX="/Applications/Cisco Packet Tracer.app/Contents/Resources" wine C:\\\\windows\\\\command\\\\start.exe /Unix /Applications/Cisco\\ Packet\\ Tracer.app/Contents/Resources/dosdevices/c:/ProgramData/Microsoft/Windows/Start\\ Menu/Programs/Cisco\\ Packet\\ Tracer/Uninstall\\ Cisco\\ Packet\\ Tracer.lnk
Type=Application
StartupNotify=true
Path=/Applications/Cisco Packet Tracer.app/Contents/Resources/dosdevices/c:/Program Files/Cisco Packet Tracer 7.1.1
Icon=572B_unins000.0
StartupWMClass=unins000.exe
