<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelpifyAPP.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AFA499AF218C3B640066E5C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFA499C3218C3B660066E5C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFA499CE218C3B660066E5C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
