[Desktop Entry]
Type=Application
Name=A Wine application
MimeType=application/x-wine-extension-vbs;
Exec=env WINEPREFIX="/tmp/Cisco Packet Tracer 7.1.1.app/Contents/Resources" wine start /ProgIDOpen VBSFile %f
NoDisplay=true
StartupNotify=true
