[Desktop Entry]
Type=Application
Name=Wine Internet Explorer
MimeType=image/jpeg;
Exec=env WINEPREFIX="/tmp/Cisco Packet Tracer 7.1.1.app/Contents/Resources" wine start /ProgIDOpen pjpegfile %f
NoDisplay=true
StartupNotify=true
Icon=FB4C_iexplore.0
