[Desktop Entry]
Type=Application
Name=notepad
MimeType=application/x-wine-extension-ini;
Exec=env WINEPREFIX="/tmp/Cisco Packet Tracer 7.1.1.app/Contents/Resources" wine start /ProgIDOpen inifile %f
NoDisplay=true
StartupNotify=true
Icon=1E64_notepad.0
