<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Photo on 10-17-18 at 23.58.jpg</string>
	<string>Photo on 10-17-18 at 23.58 #2.jpg</string>
	<string>Photo on 10-18-18 at 00.03.jpg</string>
</array>
</plist>
